body {
	font-family: helvetica;
	padding: 20px;
    font-size:10pt

}

header {
    max-width: 800px;
    margin: 0 auto;
    font-size:13pt;
    border-bottom: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
}

header > h1 {
    margin-bottom: 0; 
}

header > p {
    margin-top: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

main > h1 {
  padding: 3px;
}

article {
    margin-top: 40px;
}

section {
    padding-left: 15px;
    border-left: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
}

a:link {
  color: navy ; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: navy;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: cornflowerblue;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: darkmagenta;
  background-color: transparent;
  text-decoration: underline;
}

footer {
    max-width: 800px;
    margin: 0 auto;
    font-size:10pt;
    border-top: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
}

pre {
    font-size: 8pt;
}

