body {
	font-family: helvetica;
	padding: 20px;
    font-size:11pt

}

body > h1 {
    font-size:150%;
}

body > h2 {
    font-size:140%;
}

body > h3 {
    font-size:130%;
}
body > h4 {
    font-size:120%;
}

body > h5 {
    font-size:110%;
}

body > h6 {
    font-size:100%;
}

header {
    max-width: 800px;
    margin: 0 auto;
    font-size:13pt;
    border-bottom: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
}

header > h1 {
    margin-bottom: 0; 
}

header > p {
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
}

header > p > span {
    padding-left: 30px;
    padding-right: 30px;
}

header > p > span > a:link {
    color: black;
}

header > p > span > a:visited {
    color: black;
}

header > p > span > a:hover {
  color: cornflowerblue;
  text-decoration: underline;
}

header > img {
  float:left;
  width:70px;
  margin-right: 20px;
  border-radius: 50%;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

main > h1 {
  padding-top: 3px;
  padding-bottom: 3px;
}

article {
    margin-top: 40px;
    margin-left: 2px;
}

article > h2 {
    margin-bottom: 0px;
}

.pdate {
    text-align: right;
    margin-top: 0px;
    margin-bottom: 1px;
    font-style: italic;
}

section {
    padding-left: 15px;
    border-left: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
}

a:link {
  color: navy ; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: navy;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: cornflowerblue;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: darkmagenta;
  background-color: transparent;
  text-decoration: underline;
}

footer {
    max-width: 800px;
    margin: 0 auto;
    font-size:10pt;
    border-top: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
}

pre {
    font-size: 8pt;
}

figure {
  padding: 10px;
}

figcaption {
  color: gray;
  font-size: 85%;
  padding: 2px;
  text-align: center;
}

figure > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* 
    This is code for an image gallery 
    Maybe later change to dynamic changes: 
    https://www.w3schools.com/css/tryit.asp?filename=trycss_image_gallery_responsive;
 */

div.gallery {
  padding: 0px;
  float: left;
}

div.gallery img {
  width: 98%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.desc {
  padding: 2px;
  text-align: center;
  color: gray;
  font-size: 85%;
}